
.icon-betting:before { content: '\e800'; } /* '' */
.icon-cherries:before { content: '\e801'; } /* '' */
.icon-fish:before { content: '\e802'; } /* '' */
.icon-football:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-loto:before { content: '\e805'; } /* '' */
.icon-rummy:before { content: '\e806'; } /* '' */
.icon-new:before { content: '\e807'; } /* '' */
.icon-other:before { content: '\e808'; } /* '' */
.icon-roulette:before { content: '\e80a'; } /* '' */
.icon-tablegames:before { content: '\e80d'; } /* '' */
.icon-live:before { content: '\e80e'; } /* '' */
.icon-poker:before { content: '\e80f'; } /* '' */
.icon-seven:before { content: '\e810'; } /* '' */
.icon-arrow:before { content: '\e811'; } /* '' */